<h1>Index</h1>

<p><%= link_to "Create a New Task", "/test_pages/new" %></p>

<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Task</th>
			<th>Priority</th>
			<th>Due Date</th>
		</tr>
	</thead>
	<tbody>
		<td>Delete and Edit</td>
		<td>asdf</td>
		<td>asdf</td>
		<td>asdf</td>
	</tbody>
</table>