<!DOCTYPE html>
<html>
<head>
  <title>Practice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<dl class="dl-horizontal">
		<dt>Name:</dt>
		<dd>Sam Sung</dd>

		<dt>Purpose:</dt>
		<dd>To learn more about the 7 routes and actions that pretty much sum up the entire internet experience, according to Jeff Cohen, our instructor from the Starter League.</dd>
	</dl>

<%= yield %>

</body>
</html>
